.resume-list__add-button {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: #6495ED;
}

.resume-list__title {
    margin: 0;
    border: 0;
}

.resume-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#action-button {
    display: block;
    cursor: pointer;
}
#open-button {
    display: none;
}
#delete-button {
    display: none;
}
#copy-button {
    display: none;
}

.modal-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    left: 50%;
    background-color: red;
    transform: translateX(-50%);
}