/* Form Section */
.resume-form {
    width: 900px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0 ;
    background-color: white;
    transition: all .2s linear;
}

.resume-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resume-form__header {
    text-align: center;
    margin-bottom: 20px;
}

.resume-form__label {
    display: flex;
}

.resume-form__label,
.many-input-section,
.textarea-section {
    width: 500px;
}

.resume-form__input,
.many-input-section__input {
    flex-grow: 1;
    visibility: visible;
}

.resume-form__generate-button {
    visibility: visible;
}


/* Many Input Section */
#inputlanguages .many-input-section__input + .many-input-section__input {
    width: 50px;
    margin-left: 10px;
}

.resume-form__create-button,
.resume-form__preview-button {
    color: white;
    background-color: #6495ED;
    border: none;
    cursor: pointer;
}

.resume-form__create-button:disabled,
.resume-form__preview-button:disabled {
    background-color: #D3D3D3;
    color: black;
    cursor:not-allowed;
}

.many-input-section__title {
    margin: 0 0 10px;
    padding: 0;
    border: 0;
}

.many-input-section__inputs {
    gap: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: 
    'title date date'
    'place description description';
}

[test-id="job-description"],
[test-id="education-description"] {
    grid-area: description;
    resize: none;
}

.many-input-section__input + .many-input-section__input {
    width: 50px;
    margin-left: 10px;
}

.many-input-section__list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
}

.many-input-section__item {
    display: grid;
    grid-template-areas:
    'title date'
    'company company'
    'description description';
}

.many-input-section__company {
    grid-area: company;
}

.many-input-section__description {
    margin: 15px 0;
    grid-area: description;
}

.many-input-section__delete-button,
.many-input-section__add-button {
    margin-left: 10px;
    color: white;
    background-color: #6495ED;
    border: none;
    cursor: pointer;
}

/* Textarea Section */
.textarea-section {
    width: 400px;
}

.textarea-section__textarea {
    width: 100%;
    columns: 5;
    resize: none;

}
